/* Responsividade */

/***************************************

X-Small   None	        <576px
Small	  sm	        ≥576px
Medium	  md	        ≥768px
Large	  lg	        ≥992px
Extra     large	xl	    ≥1200px
Extra     extra large	xxl	≥1400px

***************************************/
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    @keyframes menuBar {
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
        } 
    }
    .header{
        width: 100%;
    }
    .logo{
        width: min-content;
    }
    .menuHeader{
        display: none;
    }
    .menuBar{
        display: block;
    }
    .threeBar{
        height: 1.7rem;
        width: 1.7rem;
        transition: .2s ease-in-out;
        animation: menuBar .2s;
    }
    .xBar{
        height: 1.5rem;
        width: 1.5rem;
        transition: .2s ease-in-out;
        animation: menuBar .2s;
        position: relative;
        z-index: var(--z-fixed2);
    }
    .xBarNone{
        display: none;
    }
    .menu2Header{
        z-index: var(--z-fixed);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: fixed;
        background: var(--color-4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 15rem;
        overflow: hidden;
        top: 0;
        right: 0;
        border-radius: 0 0 1rem 1rem;
        font-size: var(--h2-font-size);
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .menu2Header ul li{
        margin: 2rem;
        position: relative;
    }
    .navLink::after{
        font-size: var(--h3-font-size);
        content: '';
        width: 0%;
        height: 2px;
        background: var(--color-7);
        position: absolute;
        left: 0;
        bottom: -.3rem;
        transition: width .3s;
    }
    .navLink:hover::after{
        width: 0;
    }
    .menu2HeaderNone{
        height: 0%;
        overflow: hidden;
    }
    .popUpPedido{
        bottom: 2rem;
    }
    .servicosMain{
        grid-template-columns: 1fr;
    }
    .cardServicosMain{
        filter: drop-shadow(0 0 0 black);
        min-height: auto;
    }
    .mainSobre{
        flex-direction: column-reverse;
        padding: 2rem 1rem;
    }
    .sobreText{
       max-width: 100%;
    }
    .profissionais{
        grid-template-columns: 1fr 1fr;
    }
    .cardProfissional{
        min-height: auto;
    }
    .buttonAgendamentoAgora{
        width: min-content;
    }
    .footerIcons a{
        width: 25px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .textAndImgHome{
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 0;
        min-height: calc(100vh - 24rem);
    }
    .imgHome{
        display: none;
    }
    .imgHome2{
        display: block;
        margin-top: 4rem;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 10px rgb(0, 0, 0, .2);
    }
    .textHome{
        width: 100%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .popUpPedido{
        width: 18rem;
    }
    .popUpPedidoNone{
        padding: 0;
        width: 0%;
    }
    .header, .footer{
        width: 100%;
        padding: 0 2.5rem;
    }
    .main{
        width: 100%;
    }
    .cardProfissional{
        min-height: 380px;
    }
}

@media (min-width: 1199.99px) {
    :root{
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

.displayNone{
    display: none;
}
